@{
    ViewBag.Title = "DotFlix";
}

<div class="jumbotron img-background">
    <h1 class="text-justify">Dotflix</h1>
    <p class="text-justify">Compra las mejores películas en nuestra plataforma online</p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/estreno.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Estrenos</h2>
                <p class="text-center">Las películas más actuales.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/comedia.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Comedia</h2>
                <p class="text-center"> Para partirte de risa.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/terror.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Terror</h2>
                <p class="text-center">El miedo en estado puro.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/infantil.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Infantiles</h2>
                <p class="text-center">Para los mas peques de la casa.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/accion.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Acción</h2>
                <p class="text-center"> No podrás quedarte quieto en el sofá.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="rounded-circle center-block" src="~/Content/imgs/fantasia.jpg" alt="Generic placeholder image" width="110" height="150">
            <div class="caption">
                <h2 class="text-center">Fantasía</h2>
                <p class="text-center"> Más allá de tu imaginación.</p>
            </div>
        </div>
    </div>
</div>